@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.glow-yellow {
  background-color: #facc15; /* Use yellow-400 color */
  box-shadow: 0 4px 15px rgba(250, 204, 21, 0.6), 0 0 10px rgba(250, 204, 21, 0.8);
}
